
/*LAYOUT*/
/*******/
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
img {
  width:100%;
}
.gallery {
  margin-top: 15%;
}
.gallery img {
  width: 100%;
}

#exhibPic {
  margin-top: 4%;
}
#footer {
  overflow-x: hidden;
}

#logoDensity img {
  width: 75%;
  padding-left: 5%;
}
#logoPoli img {
  width: %;
}

/*Backgrounds*/
#Exhibition {
}
#Experiment01 {
    background-color: #eee;
}
#exhibitionDate {
  margin-top: 0%;
  padding-top: 0%;
}

#postA, #postB {
  margin: 0% 10%;
  /*padding: 5%;*/
}
#postA img, #postB img {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}
#footer {
  background-color: black;
}
#exp1 canvas {
  max-width: 100%;
}

/*TYPOGRAPHY*/
/***********/
*{
  font-family: 'Lato';
  font-style: normal;
  font-stretch: normal;
  text-align: left;

}
.TITLE {
  font-weight: bold;
  line-height: 1.5;
  font-size: 6rem;
  letter-spacing: normal;
  margin-bottom: 0%;
}
.sub {
  font-size:  5.7rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
}

#UBItitle {
}
#BIQuote {}
#UBIsubtitle, #UBItitle {
    line-height: 1.5;
    position: relative;
    margin-top: 0%;
}
#UBIsusbtitle {
  font-size: 3rem;
}

#UBIsubtitleminlineheight{
    line-height: 1.2;
    font-size: 4rem;
    position: relative;
    margin-top: 0%;

}

#UBIsmall {}

.SmallTextHome {
  font-weight: 300;
  font-size: 0.9rem;
  color: black;
}
.twoColText {
  column-count: 2;
}

.Quote {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: auto;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.indent {
  padding-left: 12%;
}

.gold {
  color: #fdc502;
  font-size: inherit;
}

.item {
  line-height: 1.3;
}
#footer {
}
ul {
  color: white;
  list-style: square outside;

}
#team li a{
  text-decoration: none;
  font-style: normal;
  color: white;
}
#team li :hover {
  font-style: italic;
}

/*NavBar*/

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #9b9b9b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    color:  #fdc502;
}


.section {
  margin-top: 15%;
}

.fullscreen {
  padding-top: 5%;
  padding-bottom: 5%;
}

#IMG4col {
    width: 100%;
    margin-top: 14%;
}


/*INTERFACE*/
/**********/
#textField {
  width: 100%;
}
#submit {
  padding: 6% 4%;
  font-weight: bold;
  width: 100%;
  font-size: 1.2em;
  border-radius: 5%;
  text-align: center;
  color: black;
}

.dots {
  width: 20%;
  margin: 5% auto;
}

.dot {
  background-color: lightGrey;
  border-radius: 50%;
  display: inline-block;
  min-width: 15px;
  min-height: 15px;
  margin: 0% auto;
}

.dotSelected {
  background-color: #fdc502;
}

button {
  background-color: #fdc502;
  border: none;
  font-weight: bold;
  font-size: 1.8em;
  padding: 2% 4%;
  margin: 1%;
  display: inline-block;
  color: #333447;
}
button:hover {
  background-color: #fdc502;
  transform: scale(1.05);
  font-weight: bold;
  font-size: 2em
  transition: 0.2s ease;
}

.postBtn {
  position: absolute;
  background: transparent;
  margin: 10% 0%;
  font-size: 1.5em;
  /* border-radius: 50%; */
}
.postBtnSmall {
  display: none;
}


@media only screen and (max-width:45em){
  #UBItitle {
    font-size: 60%;
    line-height: 0.1em;
  }
  #UBIsubtitle, #UBItitle {
      line-height: 1.5;
      position: relative;
      margin-top: 0%;
  }
  #UBIsubtitle{
    font-size: 4em;
  }
  .navbar {
    padding: 1% 2%;
    font-size: 70%;
    line-height: 0.1em;
  }
  .dots {
    width: 30%;
  }

  #postA, #postB {
    margin: 0% 0%;
  }
  #postB{
    display: none;
  }
  .postBtn {
    display: none;
  }
  /*.postBtnSmall {
    display: visible;
    position: relative;
    margin: 15% 0%;
    border-radius: 50%;
  }*/
  #team {
    position: relative;
    margin-left: -5%;
  }
  #logoPoli, #logoDensity img {
    width: 40%;
  }
}
