.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.TITLE {
  font-family: 'Lato';
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: left;
  letter-spacing: normal;
  color: #000000;
  color: var(--black);
}

.Gold {
  color: #fdc502;
}

.SubBlack {
  font-family: 'Lato';
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  color: #000000;
}


.SmallTextHome {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 13px;
  column-count: 2;
  /*
  font-style: normal;
  font-stretch: normal;
  line-height: small;
  letter-spacing: normal;*/
  color: #000000;
}


.Quote {
  font-family: 'Lato';
  /*font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: auto;
  letter-spacing: normal;
  text-align: left;*/
  color: #000000;
}

/*NavBar*/

.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #9b9b9b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    color:  #fdc502;
}




/* Margin*/

#UBItitle {
    margin-top: 28%;
}

#UBIsubtitle {

    margin-top: auto;
    line-height: 0.5;
}

#UBIsmall {

    margin-top: 5%;
}

#BIQuote {

    margin-top: 20%;
}

#IMG4col {
    width: 100%;
}

#TiltTextRight {

    margin-left: 40px;
}

#TiltTextLeft {

    margin-left: -5%;
}
